html {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(48, 48, 48);
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
}
